* {
   box-sizing: border-box;
}
html {
   font-size: 1rem;
}
@font-face {
   font-family: 'Bebas Neue Book';
   src: url("../fonts/BebasNeueBook.woff") format('woff');
   font-weight: normal;
   font-style: normal;
   }
body {
   font-family: "Noto Sans", sans-serif;
}
.mobile-menu {
   display: none;
}
.container {
   max-width: 1440px;
   margin: auto;
}
.header {
   padding-top: 94px;
}
.header-image {
   position: relative;
   background-image: url('../img/header-bg.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center bottom -55px;
}
.header-image::before {
   content: "";
   position: absolute;
   background: rgba(41, 45, 51, 0.75);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
}
.navbar {
   display: flex;
   align-items: center;
   color: #fff;
   height: 94px;
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 2;
   border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
   transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
   background-color: #fff;
   color: rgb(41, 45, 51);
   height: 74px;
}
.logo {
   display: none;
}
.logo-svg {
   width: 144px;
   height: 44px;
}
.navbar-light .header-logo-path {
   fill: rgb(41, 45, 51);
}
.header-logo {
   display: flex;
   align-items:center;
   padding: 0 50px;
   height: 100%;
   border-right: .0625rem solid rgba(235, 235, 240, 0.2);
}
.header-nav {
   flex-basis: 100%;
   display: flex;
   align-items:center;
   justify-content: space-between;
   height: 100%;
   list-style: none;
   padding: 0;
   padding-left: 50px;
   margin: 0;
   margin-right: 200px;
}
.header-nav-item {
   height: 100%;
   display: flex;
   align-items:center;
}
.header-nav-item:not(:last-child) {
   margin-right: 50px;
}
.header-nav-link {
   position: relative;
   display: flex;
   align-items:center;
   height: 100%;
   text-decoration: none;
   font-size: 16px;
   font-weight: 400;
   color: inherit;
}
.header-nav-link::after {
   content: "";
   width: 0rem;
   height: .125rem;
   position: absolute;
   bottom: -0.0625rem;
   background-color: #5C8EE5;
   transition: width 0.2s;
   right: 0;
   left: auto;
}
.header-nav-link:hover::after {
   width: 100%;
   right: auto;
   left: 0rem;
}
.header-phone {
   flex-shrink: 0;
   display: flex;
   align-items: center;
   gap: 10px;
   margin-right: 50px;
}
.phone-icon {
   width: 24px;
   height: 24px;
   fill:#5C8EE6;
}
.header-phone-link {
   text-decoration: none;
   font-size: 16px;
   color: inherit;
}
.button {
   font-size: 16px;
   font-weight: 600;
   line-height: 160%;
   color: #fff;
   padding: 25px 60px;
   background: rgb(58, 113, 209);
   border: none;
   display: inline-block;
   cursor: pointer;
}
.navbar-button {
   flex-shrink: 0;
   height: 100%;
   padding: 25px 50px;
}
.navbar-button .phone-icon {
   display: none;
}
.header-button {
   height: 100%;
}
.seporator {
   width: 150px;
   height: 2px;
   background: rgb(92, 142, 230);
}
.header-content {
   padding-top: 150px;
   position: relative;
   z-index: 1;
   color: #fff;
}
.header-title {
   max-width: 1080px;
   font-family: 'Bebas Neue Book';
   font-size: 80px;
   line-height: 120%;
   margin: 30px 0;
   letter-spacing: .8px;
   word-spacing: -1.6px;
}
.header-button {
   padding: 26px 60px;
}
.header-text {
   max-width: 720px;
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   margin-bottom: 50px;
}
.header-features {
   display: flex;
   min-height: 168px;
   padding: 0;
   margin-top: 100px;
   list-style: none;
   color:#fff;
   position: relative;
}
.header-features-item {
   padding: 28px 50px;
   height: auto;
   border: .0625rem solid rgba(235, 235, 240, 0.2);
   width: 288px;
}
.slider-buttons {
   display: none;
   height: 2.75rem;
}
.slider-button-prev, 
.slider-button-next {
   height: 100%;
   flex-basis: 50%;
   border: .0625rem solid rgba(235, 235, 240, 0.2);
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
.header-features-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 0;
   margin-top: 18px;
}
.section {
   margin-top: 150px;
   margin-bottom: 150px;
}
.section-title {
   font-family: 'Bebas Neue Book';
   color: rgb(41, 45, 51);
   font-size: 60px;
   font-weight: 400;
   line-height: 120%;
}
.steps {
   display: flex;
   list-style: none;
   padding: 0;
   gap: 30px;
}
.steps-item {
   max-width: 330px;
}
.steps-num {
   font-family: 'Bebas Neue Book';
   color: rgb(92, 142, 230);
   font-size: 48px;
   font-weight: 400;
   line-height: 120%;
   display: flex;
   align-items:center;
}
.steps-num::after {
   content: "";
   height: 1px;
   background: rgb(235, 235, 240);
   width: 100%;
   margin-left: 30px;
}
.steps-title {
   color: rgb(41, 45, 51);
   font-family: 'Bebas Neue Book';
   font-size: 28px;
   font-weight: 400;
   line-height: 160%;
   margin-top: 30px;
   margin-bottom: 10px;
}
.steps-text {
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   margin-top: 10px;
   margin-bottom: 20px;
}
.button-link {
   display: flex;
   align-items:center;
   text-decoration: none;
   color: rgb(92, 142, 230);
   font-size: 16px;
   font-weight: 600;
   line-height: 160%;
}
.button-link::before {
   content: "";
   height: 1px;
   background: rgb(92, 142, 230);
   width: 40px;
   margin-right: 20px;
   transition: width 0.2s;
}
.button-link:hover:before {
   width: 60px;
}

.primary-buttons-wrapper {
   display: flex;
   justify-content: flex-end;
   height: 3.75rem;
}
.primary-button-prev,
.primary-button-next {
   background-color: rgb(92, 142, 230);
   height: 100%;
   width: 5rem;
   display: flex;
   align-items:center;
   justify-content:center;
   cursor:pointer;
}
.steps-buttons {
   display: none;
}
.cards {
   display: flex;
   flex-wrap: wrap;
}
.card {
   text-decoration: none;
   position: relative;
   flex-basis: 33%;
   border: .0625rem solid rgb(235, 235, 240);
   transition: border 0.2s;
}
.card-wrap {
   display: flex;
   flex-direction: row;
   padding: 50px 50px 70px 70px;
   height: 280px;
   overflow: hidden;
}
.card:hover .card-title {
   color: #5C8EE5;
}
.card:hover {
   border-color: #5C8EE5;
}

.card-content {
   padding: 40px 50px;
}
.card-title {
   color: rgb(41, 45, 51);
   font-size: 28px;
   font-weight: 400;
   line-height: 140%;
   margin-top: 0;
   margin-bottom: 10px;
   transition: color 0.2s;
}
.card-text {
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   margin-bottom: 394px;
}
.card-image {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   z-index: 0;
}
.trademark-cards {
   display: flex;
}
.trademark-card {
   flex-basis: 50%;
   border: .0625rem solid rgb(235, 235, 240);
   text-decoration: none;
   transition: border 0.2s;
   padding: 50px;
   display: grid;
   grid-column-gap: 50px;
   grid-template-columns: 11.25rem 1fr;
   grid-template-rows: auto 2fr;
   grid-template-areas: 
   "logo title title"
   "logo text text"
   ;
}
.trademark-card-logo {
   width: 100%;
   fill: rgb(130, 138, 153);
   grid-area: logo;
}
.trademark-card-title {
   margin: 0;
   color: rgb(41, 45, 51);
   font-size: 28px;
   font-weight: 400;
   line-height: 160%;
   grid-area: title;
}
.trademark-card-text {
   margin-top: 10px;
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   grid-area: text;
}
.trademark-card:hover {
   border-color: #5C8EE5;
}
.trademark-card:hover .trademark-card-logo {
   fill: #5C8EE6;
}
.trademark-card:hover .trademark-card-title {
   color: #5C8EE6;
}
.founder {
   position: relative;
   min-height: 660px;
}
.founder-photo {
   position: absolute;
   top: 0;
   left: 0;
   width: 40%;
   height: 100%;
   object-fit: cover;
}
.founder-content-wrapper {
   display: flex;
   justify-content: flex-end;
}
.founder-content {
   max-width: 720px;
}
.founder-text {
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
}
.clients-wrapper {
   display: flex;
   gap: 50px;
}
.clients-content {
   flex-basis: 50%;
}
.clients-list {
   list-style: none;
   padding: 0;
   columns: 2 auto;
}
.clients-list-item {
   display: flex;
   align-items:center;
   gap: 20px;
   color: rgb(41, 45, 51);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%
}
.clients-logo-list {
   display: flex;
   flex-wrap: wrap;
   flex-shrink: 10;
}
.clients-logo-item {
   flex-basis: 33%;
   border: .0625rem solid rgb(235, 235, 240);
   display: flex;
   align-items:center;
   justify-content: center;
   padding: 16px;
   filter: grayscale(100%);
   transition: filter 0.2s;
}
.clients-logo-item:hover {
   filter: grayscale(0);
}
.clients-logo {
   max-width: 100%;
   width: 4.375rem;
   height: 4.375rem;
}
.blog-card {
   display: flex;
   position: relative;
   min-height: 400px;
   flex-direction: column;
   text-decoration: none;
   color: #fff;
   justify-content: flex-end;
   padding: 50px;
}
.blog-card::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   background-color: #292D3399;
   z-index: -1;
}
.blog-card-image {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -2;
}
.blog-card-title {
   color: rgb(255, 255, 255);
   font-size: 28px;
   font-weight: 400;
   line-height: 160%;
   margin-bottom: .625rem;
   margin-top: 0;
}
.blog-card-text {
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   margin: 0;
}
.blog-slider-footer {
   display: flex;
   align-items: center;
   margin-top: 30px;
   justify-content: space-between;
}
.bg-grey {
   background: rgb(240, 242, 245);
}
.section-cta {
   position: relative;
   padding-top: 6.25rem;
   margin-top: 9.375rem;
   padding-bottom: 6.25rem;
   
}
.cta-image {
   position: absolute;
   bottom: 0;
   left: 0;
   max-width: 720px;
   width: 50%;
}
.cta-form-wrapper {
   display: flex;
   justify-content: flex-end;
}
.cta-form {
   max-width: 52.5rem;
}
.cta-form-text {
   color: rgb(130, 138, 153);
   font-size: 1rem;
   font-weight: 400;
   line-height: 160%;
   margin-top: 1.375rem;
   margin-bottom: 2.5rem;
   max-width: 40rem;
}
.input-group-wrapper {
   display: flex;
   gap: 1.875rem;
}
.input-group {
   position: relative;
   height: 4.125rem;
   flex-grow: 1;
   background-color: rgb(240, 242, 245);
}
.input {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 1.25rem 1.875rem;
   border: 1px solid #E4E4EB;
   background-color: transparent;
}
.input-group-label {
   position: absolute;
   cursor: text;
   top: 1.5rem;
   left: 1.975rem;
   color: rgb(130, 138, 153);
   font-size: 16px;
   font-weight: 400;
   line-height: 160%;
   transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus {
   border: 1px solid #5C8EE5;
   outline: 0;
}
.input:focus ~ .input-group-label, 
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
   top: -0.5rem;
   left: 1.25rem;
   font-size: .625rem;
   background-color: inherit;
   padding: 0 10px;
}
.cta-form-footer {
   display: flex;
   align-items: center;
   margin-top: 1.875rem;
   gap: 1.875rem;
}
.cta-form-button {
   flex-shrink: 0;
}
.notify {
   display: flex;
   align-items: flex-start;
   gap: .625rem;
}
.notify-icon {
   flex-shrink: 0;
}
.notify-text {
   max-width: 23.75rem;
   margin: 0;
   color: rgb(130, 138, 153);
   font-size: .75rem;
   font-weight: 400;
   line-height: 160%;
}
@media (max-width: 1700px) {
   html {
      font-size: .875rem;
   }
   .header-image {
      background-position: center;
   }
}
@media (max-width: 91.25rem) {
   html {
      font-size: .8125rem;
   }
   .header-logo {
      padding: 32px;
   }
   .logo-svg {
      max-width: 96px;
   }
   .header-nav {
      padding-left: 32px;
   }
   .header-nav-item:not(:last-child) {
      margin-right: 16px;
   }
   .header-phone {
      margin-right: 32px;
   }
}

@media (max-width: 75rem) {
   html {
      font-size: .75rem;
   }
   .container {
      max-width: 1120px;
   }
   .header-phone {
      display: none;
   }
   .navbar {
      height: 92.8px;
   }
   .navbar-button {
      padding-left: 32px;
      padding-right: 32px;
   }
   .slider-buttons {
      display: flex;
   }
   .primary-buttons-wrapper {
      height: 2.5rem;
   }
   .primary-button-prev,
   .primary-button-next {
      width: 3.75rem;
   }
   .steps-buttons {
      display: flex;
   }
   .card {
      flex-basis: 50%;
   }
   .trademark-card {
      grid-template-columns: auto auto;
   }
   .founder-content {
      max-width: 560px;
   }
   .clients-content {
      flex-basis: 60%;
   }
}
@media (max-width: 62rem) {
   html {
      font-size: .75rem;
   }
   .container {
      max-width: 960px;
   }
   .header-nav {
      display: none;
   }
   .header-logo {
      flex-grow: 1;
      justify-content: center;
   }
   .logo-svg {
      max-width: 160px;
   }
   .mobile-menu-toggle {
      width: 5rem;
      height: 100%;
      display: flex;
      justify-content:space-between;
      flex-direction: column;
      padding: 36.8px 40px;
      border-right: .0625rem solid rgba(235, 235, 240, 0.2);
   }
   .navbar-light .mobile-menu-line {
      background-color: #333;
   }
   .mobile-menu-line {
      height: .0625rem;
      background-color: #fff;
      width: 100%;
      transition: transform 0.2s;
   }
   .mobile-menu-line:nth-child(2) {
      width: 80%;
   }
   .navbar-button {
      padding-left: 36.8px;
      padding-right: 36.8px;
   }
   .navbar-button .button-text {
      display: none;
   }
   .navbar-button .phone-icon {
      display: block;
      fill:#fff;
   }
   .mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      z-index: 2;
      background-color: #fff;
      padding-top: 80px;
      padding-left: 24px;
      padding-right: 24px;
   }
   .mobile-menu.is-open {
      display: block;
   }
   .mobile-menu-nav {
      list-style: none;
      padding: 0;
   }
   .mobile-menu-nav-item {
      margin-bottom: 32px;

   }
   .mobile-menu-link {
      text-decoration: none;
      font-weight: 700;
      font-size: .875rem;
      line-height: 160%;
      color: #292D33;
   }
   .mobile-submenu {
      list-style: none;
      padding: 0;
      padding-left: 16px;
      margin-top: 16px;
   }
   .mobile-submenu-link {
      text-decoration: none;
      color:rgb(130, 138, 153);
      font-size: .875rem;
      line-height: 160%;
   }
   .mobile-phone {
      display: block;
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 160%;
      text-decoration-line: underline;
      color: rgb(41, 45, 51);
      border-top: .0625rem solid rgb(235, 235, 240);
      padding-top: 32px;
      margin-bottom: 24px;
   }
   .mobile-info {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 16px;
   }
   .mobile-info-address,
   .mobile-info-email {
      text-decoration: none;
      font-style: normal;
      font-size: .875rem;
      font-weight: 400;
      line-height: 160%;
      color: rgb(41, 45, 51);
   }
   .close-menu .mobile-menu-line:nth-child(2) {
      display: none;
   }
   .close-menu .mobile-menu-line:nth-child(1) {
      transform: rotate(45deg) translateY(.625rem);
   }
   .close-menu .mobile-menu-line:nth-child(3) {
      transform: rotate(-45deg) translateY(-0.625rem);
   }
   .mobile-images-item {
      text-decoration: none;
      margin-right: 15px;
   }
   .section-title {
      font-size: 36px;
   }
   .trademark-cards {
      flex-direction: column;
   }
   .clients-wrapper {
      flex-direction: column;
   }
}
@media (max-width: 48rem) {
   .container {
      max-width: 640px;
   }
   .header-title {
      font-size: 64px;
   }
   .header-content {
      padding-top: 64px;
   }
   .card {
      flex-basis: 100%;
   }
   .founder-photo {
      position: relative;
      width: 100%;
      margin-bottom: 50px;
   }
}
@media (max-width: 36rem) {
   .container {
      max-width: 90%;
   }
   .trademark-card {
      grid-template-areas: 
      "logo title"
      "text text"
      ;
   }
   .clients-list {
      columns: 1;
   }
   .clients-logo-item {
      flex-basis: 50%;
   }
}
